.controller {
    margin: 4.5rem 0rem 2rem 0rem;
}

.controller-pet {
    width: 50%;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 2.5rem;
}

.form-group .pet-title {
    display: inline-block;
    width: 19.5rem;
}

.form-group-double .pet-title {
    display: inline-block;
    width: 23.5rem;
}

.form-group-double .pet-titles {
    display: block;
    padding-right: 5px;
    text-align: right;
    width: 7.5rem;
}

.form-check-label {
    margin-left: .5rem;
    vertical-align: super;
}

.controller-pet .form-control {
    height: 3.5rem;
    padding: 1rem;
}

.form-group-double .vaccinated-option::before {
    content: '';
    display: block;
    width: 6.6rem;
}

.btn-pet-action {
    font-size: 1.5rem;
    padding: 1rem 1.5rem;
}