.form-check-label {
    margin-left: .5rem;
    vertical-align: super;
}

.controller-wrapper .form-control {
    font-size: 1.5rem;
    height: 3.5rem;
}

.controller-wrapper .form-text {
    display: none;
}

.controller-wrapper .form-text.is-invalid {
    color: rgb(254, 25, 25)!important;
    display: block;
}

.vaccinated .form-check {
    margin-right: 2rem;
}

.btn-action {
    font-size: 1.5rem;
    padding: 1rem 1.5rem;
}

@media screen and (min-width: 320px) {
    .controller {
        margin: 4.5rem 0rem 2rem 0rem;
        padding: 2rem 0rem;
    }

    /* FORM GROUP */
    .form-group {
        margin-bottom: 2.5rem;
    }
}

@media screen and (min-width: 992px) {
    .controller {
        padding: 2rem 1.5rem;
    }

    .controller-wrapper {
        width: 50%;
    }

    /* FORM GROUP */
    .form-group {
        display: flex;
        margin-bottom: 2.5rem;
    }

    .vaccinated::before {
        content: '';
        display: inline-block;
        width: 8.3rem;
    }
}