.table {
    border-bottom: 1px solid #dee2e6;
}
.table thead  th {
    border-bottom: 3px solid #212529;
}

.table thead  th, .table tbody td {
    padding: 1.5rem 0.75rem;
}

.blanb-view {
    font-size: 1.8rem!important;
    padding: 2rem!important;
    text-align: center;
    text-transform: capitalize;
}